<section class="section-about">
  <div class="container">
    <h2 class="about-title">ABOUT <span>ME</span></h2>
    <img class="about-image" src="../img/about-img.jpg" alt="about-me" />
    <h3 class="about-bio">BIO</h3>

    <p class="about-bio-list">
      I'm Lloyd Jefferson, a talented programmer specializing in software
      development. My expertise spans various programming languages and
      technologies, and I am dedicated to continually enhancing my skills. I
      thrive on seeking unconventional and creative solutions to problems,
      leveraging a high level of analytical skills to effectively tackle even
      the most challenging tasks.
    </p>
    <p class="about-bio-text">
      Adaptable to both independent and team-oriented work, I collaborate
      seamlessly with colleagues, exchanging ideas and finding optimal
      solutions. My professional maturity enables me to navigate challenges and
      stressful situations with a calm demeanor, maintaining a consistently high
      quality of work. Committed to self-improvement, I actively engage in
      studying new technologies and practices to stay current with the latest
      innovations in the field.
    </p>

    <!-- .....Education..... -->
    <h3 class="about-education">EDUCATION</h3>
    <ul class="education-item">
      <div class="education-container">
        <svg class="education-icon" width="24" height="24">
          <use href="../img/icons/sprite.svg#icon-dot"></use>
        </svg>

        <li class="education-list">
          2018 - 2019 / Frontend <br />
          Development Diploma, GoIT IT School, New York
        </li>
      </div>

      <div class="education-container">
        <svg class="education-icon" width="24" height="24">
          <use href="../img/icons/sprite.svg#icon-dot"></use>
        </svg>

        <li class="education-list">
          2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
          New York
        </li>
      </div>
      <div class="education-container">
        <svg class="education-icon" width="24" height="24">
          <use href="../img/icons/sprite.svg#icon-dot"></use>
        </svg>

        <li class="education-list">
          2020 - 2022 / Advanced Blender Animation Techniques, Udemy
        </li>
      </div>
    </ul>

    <!-- .....Role..... -->
    <h3 class="about-role">ROLE</h3>
    <ul>
      <div class="role-container">
        <svg class="role-icon" width="24" height="24">
          <use href="../img/icons/sprite.svg#icon-dot"></use>
        </svg>

        <li class="role-list">Frontend development</li>
      </div>
      <div class="role-container">
        <svg class="role-icon" width="24" height="24">
          <use href="../img/icons/sprite.svg#icon-dot"></use>
        </svg>

        <li class="role-list">HeadlessCMS, Wordpress</li>
      </div>
      <div class="role-container">
        <svg class="role-icon" width="24" height="24">
          <use href="../img/icons/sprite.svg#icon-dot"></use>
        </svg>

        <li class="role-list">Blender (enjoy)</li>
      </div>
    </ul>
  </div>
</section>
