<section class="section benefits">
 <div class="container">
 <h2 class="betefits-title"><span class="title-word">BENEFITS</span> OF WORKING WITH ME</h2>
<ul class="benefits-list">
    <li class="benegits-list-item">
       <div class="ben-icon">
        <svg width="24" height="24">
        <use href="../img/icons/sprite.svg#icon-user"></use>
    </svg>
</div>
        <h3 class="benefits-item-title">Expertise</h3>
        <p class="benefits-item-txt">With extensive experience in development, I have a deep understanding of
            programming and website development.</p>
    </li>
    <li class="benegits-list-item">
       <div class="ben-icon"><svg width="24" height="24">
        <use href="../img/icons/sprite.svg#icon-chat"></use>
    </svg>
</div>
        <h3 class="benefits-item-title">Communication</h3>
        <p class="benefits-item-txt">Understanding your needs and wants is my priority and I am always available for
            discussions and open to corrections.</p>
    </li>
    <li class="benegits-list-item">
       <div class="ben-icon"><svg width="24" height="24">
        <use href="../img/icons/sprite.svg#icon-brush"></use>
    </svg>
</div>
        <h3 class="benefits-item-title">Art</h3>
        <p class="benefits-item-txt">Thanks to my creative nature, I am ready to accept challenges and help you bring
            your ideas to life.</p>
    </li>
   <div class="ben-icon"><li class="benegits-list-item">
    <svg width="24" height="24">
        <use href="../img/icons/sprite.svg#icon-hourglass"></use>
    </svg>
</div>
        <h3 class="benefits-item-title">Urgent execution</h3>
        <p class="benefits-item-txt">I understand how important time is to you. Ready to work quickly and efficiently,
            without reducing the quality of work.</p>
    </li>
</ul></div>
</section>
