<footer class="footer">
  <div class="container">
    <div class="footer-tumb">
      <div class="footer-tegline">
        <a class="tagline-logo link" href="./index.html">
          Lloed<span class="logo-accent">Jefferson.</span></a
        >
      </div>

      <div class="footer-social">
        <ul class="footer-soc-list list">
          <li class="footer-soc-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="footer-soc-link link"
              >Instagram
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="footer-soc-link link"
              >Facebook
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
              class="footer-soc-link link"
              >Linkedin
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              href="https://github.com/Yura33-dev/project-team-18"
              class="footer-soc-link link"
              >GitHub
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-copyright">
      <p class="footer-copyright-text">
        © Copyright 2024. Made by LloydJefferson
      </p>
    </div>
  </div>
</footer>
