<section class="section hero">
  <div class="container">
    <div class="hero-background-container">
      <div class="hero-hello-container">
        <div class="hero-hello-title">
          <h1 class="hero-title-black">HELLO, I AM</h1>
          <div class="hero-hello-photo">
            <picture class="hero-photo">
              <source
                media="(min-width: 1158px)"
                srcset="
                  ../img/hero/dev-photo-web.png    1x,
                  ../img/hero/dev-photo-web@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../img/hero/dev-photo-tab.png    1x,
                  ../img/hero/dev-photo-tab@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ../img/hero/dev-photo-mob.png    1x,
                  ../img/hero/dev-photo-mob@2x.png 2x
                "
              />
              <img src="../img/hero/dev-photo-web.png " alt="img (My photo)" />
            </picture>
          </div>
        </div>
      </div>
      <div class="hero-fstack-container">
        <div class="hero-social-container">
          <ul class="hero-social-ul">
            <li class="hero-social-li">
              <a
                class="hero-social-a"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                >Instagram</a
              >
            </li>
            <li class="hero-social-li">
              <a
                class="hero-social-a"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                >Youtube</a
              >
            </li>
            <li class="hero-social-li">
              <a
                class="hero-social-a"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                >Facebook</a
              >
            </li>
            <li class="hero-social-li">
              <a
                class="hero-social-a"
                href="https://github.com/Yura33-dev/project-team-18"
                target="_blank"
                >GitHub</a
              >
            </li>
          </ul>
        </div>
        <div class="hero-fstack-title">
          <h2 class="hero-title-green">FULLSTACK<br />DEVELOPER</h2>
          <a href="#work-together" class="hero-custom-button smooth-scroll">
            <span class="hero-arrow">
              <svg class="hero-icon">
                <use href="../img/icons/sprite.svg#icon-right-hero"></use>
              </svg>
            </span>
            <span class="hero-text">ORDER THE PROJECT</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-moto">
    <p class="hero-moto-p">
      I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE
      <span> IMPRESSIVE</span> AND <span>FUNCTIONAL WEBSITES </span> THAT
      REFLECT EACH CLIENT’S UNIQUE PERSONALITY.
    </p>
  </div>
</section>
