<section class="section reviews">
    <div class="container slider-container">
        <h2 class="reviews-title">Reviews</h2>
        
        <div class=" swiper-scroll">
            <div class="swiper-container">
                <ul class="swiper-wrapper">
                    <!-- Slides -->
                </ul>
            </div>
        </div>
           
            <div class="swiper-navigation-wrapper">
                <div class="swiper-button-prev custom-prev">
                        <svg>
                            <use xlink:href="/img/icons/sprite.svg#icon-arrow-left"></use>
                        </svg>
                </div>
            
                <div class="swiper-button-next custom-next">
                    <svg>
                        <use xlink:href="/img/icons/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </div>
            </div>
       
       

        <div id="error-message"></div>
    </div>

</section>
