<section class="section work-together" id="work-together">
  <div class="container">
    <div class="wrapper">
      <h2 class="title-headline">
        let’s <span class="green-text">work together</span>
      </h2>
      <div class="work-wrapper">
        <div class="title-contacts-message">
          <p class="title-text">
            Contact me to transform your ideas into exceptional solutions.
          </p>
          <ul class="title-contacts-tables">
            <li class="icon-and-text">
              <svg class="icon-together" width="24" height="24">
                <use href="./img/icons/sprite.svg#icon-tel"></use>
              </svg>
              <a href="tel:+380904567890">+38 090 456 78 90</a>
            </li>
            <li class="icon-and-text">
              <svg class="icon-together" width="24" height="24">
                <use href="./img/icons/sprite.svg#icon-email"></use>
              </svg>
              <a href="mailto:lloydjefferson@gmail.com"
                >lloydjefferson@gmail.com</a
              >
            </li>
            <li class="icon-and-text">
              <svg class="icon-together" width="24" height="24">
                <use href="./img/icons/sprite.svg#icon-location"></use>
              </svg>
              USA, New York
            </li>
          </ul>
        </div>
        <form class="form-message">
          <input
            type="email"
            name="email"
            placeholder="Your email*"
            class="rent-input text-input"
            autocomplete="off"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            title="Incorrect email"
            required
          />
          <textarea
            name="comment"
            placeholder="Message"
            class="message-together text-input"
          ></textarea>
          <div class="email-error">Invalid email, try again</div>
          <button type="submit" class="button-together">SEND MESSAGE</button>
        </form>
      </div>
    </div>
  </div>
</section>
