<section class="<section work-together">
    <div class="container">
        <h2 class="title-headline">let’s <span class="green-text">work <br> together</span>
        </h2>
        <div class="title-contacts-message">
            <div class="contacts-together">
                <p class="title-text">Contact me to transform your ideas into exceptional solutions.</p>
                <div class="title-contacts-tables">
                    <div class="icon-and-text">
                        <p class="title-contacts">
                            <svg class="icon-together" width="24" height="24">
                                <use href="./img/icons/sprite.svg#icon-tel"></use>
                            </svg>
                            <a href="tel:+380904567890">+38 090 456 78 90</a>
                        </p>
                    </div>
                    <div class="icon-and-text">
                        <p class="title-contacts">
                            <svg class="icon-together" width="24" height="24">
                                <use href="./img/icons/sprite.svg#icon-email"></use>
                            </svg>
                            <a href="lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
                        </p>
                    </div>
                    <div class="icon-and-text">
                        <p class="title-contacts">
                            <svg class="icon-together" width="24" height="24">
                                <use href="./img/icons/sprite.svg#icon-location"></use>
                            </svg>
                            USA, New York
                        </p>
                    </div>
                </div>
            </div>
            <form class="form-message">
                <input type="email" name="user-email" placeholder="Your email*" class="rent-input text-input"
                    autocomplete="off" pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" title="Incorrect email"
                    required>
                <textarea name="message" placeholder="Message" class="message-together text-input"></textarea>
                <button type="submit" class="button-together">SEND MESSAGE</button>
            </form>
        </div>
    </div>
</section>
<div class="overlay is-active"></div>