.container {
  min-width: 320px;
  max-width: 360px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 80px;
  position: relative;
}

.about-me-photo {
  margin-bottom: 40px;
}

.title-about {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 40px;
  display: flex;
  align-items: flex-start;
}

.me {
  margin-left: 18px;
  color: #00b068;
}

.my-photo {
  object-fit: cover;
}

.about-image {
  border-radius: 16px;
}

.bio {
  margin-bottom: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  width: 320px;
}

.classic-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.text-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 320px;
}

.text-style {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  display: flex;
}

.edu-role-mod::before {
  display: inline-block;
  content: '';
  border-radius: 1px;
  width: 4px;
  height: 4px;
  background: #00b068;
  transform: rotate(-180deg);
  line-height: 24px;
  margin: 10px;
  flex: 1 0 auto;
}

.content-wrap {
  width: 320px;
}

.education {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}

.education-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  height: 216px;
}

.role {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}

.role-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
    margin: 0 auto;
    height: 1264px;
    margin-bottom: 124px;
  }

  .title-about {
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
  }

  .my-photo {
    border-radius: 16px;
    width: 336px;
    height: 392px;
    position: absolute;
    top: 532px;
  }

  .bio {
    margin-left: auto;
    margin-bottom: 140px;
    min-width: 336px;
    max-width: 336px;
    height: 680px;
  }
  .text-mod1 {
    min-height: 264px;
    max-height: 264px;
  }

  .decor {
    background-image: url(../img/decor-image.jpg);
    width: 336px;
    height: 100px;
    position: absolute;
    top: 856px;
    left: 368px;
    background-repeat: no-repeat;
  }

  .classic-title {
    font-size: 36px;
    line-height: 1.33333;
    letter-spacing: 0.01em;
  }

  .text-wrap {
    min-width: 336px;
    max-width: 336px;
    height: 600px;
  }

  .content-wrap {
    width: 704px;
    max-width: 704px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 32px;
  }

  .education {
    width: 336px;
    height: 280px;
  }

  .role {
    width: 336px;
    height: 184px;
  }
  .education-list {
    min-height: 200px;
    max-height: 200px;
  }

  .role-list {
    min-height: 104px;
    max-height: 104px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    height: 1244px;
    margin-bottom: 164px;
  }

  .bio {
    min-width: 488px;
    max-width: 488px;
    height: 488px;
    margin-bottom: 312px;
  }
  .decor {
    background-image: url(../img/decor-image.jpg);
    width: 384px;
    height: 288px;
    position: absolute;
    top: 692px;
    left: 832px;
  }

  .text-wrap {
    min-width: 488px;
    max-width: 488px;
    height: 408px;
  }

  .text-mod1 {
    min-height: 168px;
    max-height: 168px;
  }

  .content-wrap {
    min-width: 904px;
    max-width: 904px;
    height: 280px;
    gap: 136px;
    position: absolute;
    top: 964px;
    left: 208px;
  }

  .my-photo {
    border-radius: 16px;
    width: 384px;
    height: 448px;
    position: absolute;
    top: 436px;
    left: 208px;
  }

  .education {
    width: 384px;
    height: 280px;
  }

  .role {
    width: 384px;
  }
}
