.about-me-photo {
  margin-bottom: 40px;
}

.title-about {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bio-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

.me {
  color: #00b068;
}

.about-image {
  border-radius: 16px;
}

.classic-title {
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.text-style {
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.edu-role-mod::before {
  content: '';
  display: block;
  border-radius: 1px;
  width: 4px;
  height: 4px;
  background: #00b068;
  transform: rotate(-180deg);
  line-height: 24px;
  margin: 10px;
  flex: 0 0 auto;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.education,
.role {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.education-list,
.role-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text-style {
  display: flex;
  gap: 8px;
}

@media only screen and (min-width: 768px) {
  .title-about {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }

  .about-wrapper {
    gap: 32px;
    flex-direction: row;
    align-items: flex-end;
  }

  .about-image,
  .bio-wrapper {
    flex-basis: calc((100% - 32px) / 2);
    flex-shrink: 1;
  }

  /* .my-photo {
    border-radius: 16px;
    width: 336px;
    height: 392px;
    position: absolute;
    top: 532px;
  } */

  /* .bio {
    margin-left: auto;
    margin-bottom: 140px;
    min-width: 336px;
    max-width: 336px;
    height: 680px;
  }
  .text-mod1 {
    min-height: 264px;
    max-height: 264px;
  } */

  .decor {
    /* background-image: url(../img/decor-image.jpg); */
    /* width: 336px;
    height: 100px;
    position: absolute;
    top: 856px;
    left: 368px;
    background-repeat: no-repeat; */
  }

  .classic-title {
    /* font-size: 36px;
    line-height: 1.33333;
    letter-spacing: 0.01em; */
  }

  .text-wrap {
    /* min-width: 336px;
    max-width: 336px;
    height: 600px; */
  }

  .content-wrap {
    /* width: 704px;
    max-width: 704px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 32px; */
  }

  .education {
    /* width: 336px;
    height: 280px; */
  }

  .role {
    /* width: 336px;
    height: 184px; */
  }
  .education-list {
    /* min-height: 200px;
    max-height: 200px; */
  }

  .role-list {
    /* min-height: 104px;
    max-height: 104px; */
  }
}

@media only screen and (min-width: 1280px) {
  .bio {
    /* min-width: 488px;
    max-width: 488px;
    height: 488px;
    margin-bottom: 312px; */
  }
  .decor {
    /* background-image: url(../img/decor-image.jpg); */
    /* width: 384px;
    height: 288px;
    position: absolute;
    top: 692px;
    left: 832px; */
  }

  .text-wrap {
    /* min-width: 488px;
    max-width: 488px;
    height: 408px; */
  }

  .text-mod1 {
    /* min-height: 168px;
    max-height: 168px; */
  }

  .content-wrap {
    /* min-width: 904px;
    max-width: 904px;
    height: 280px;
    gap: 136px;
    position: absolute;
    top: 964px;
    left: 208px; */
  }

  .my-photo {
    /* border-radius: 16px;
    width: 384px;
    height: 448px;
    position: absolute;
    top: 436px;
    left: 208px; */
  }

  .education {
    /* width: 384px;
    height: 280px; */
  }

  .role {
    /* width: 384px; */
  }
}
