:root {
  --mobile-mb: 80px;
  --tablet-mb: 124px;
  --desktop-mb: 164px;
}

/* Reset styles */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  clip-path: inset(100%);
}

.section {
  margin-bottom: var(--mobile-mb);
}

@media (min-width: 768px) {
  .section {
    margin-bottom: var(--tablet-mb);
  }
}

@media (min-width: 1280px) {
  .section {
    margin-bottom: var(--desktop-mb);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(29, 29, 29, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay.is-active {
  opacity: 1;
  pointer-events: all;
}
