/*============================= max-width: 767px =====================================*/

.header-container {
    max-width: 375px;
    padding: 36px 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo {
    font-family: Impact;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #292929;
}

.logo-span {
    color: #00B068;
}

@media only screen and (max-width: 767px) {

    .header-container {
        justify-content: space-between;
    }

    .nav-menu {
        display: none;
    }

    .menu-open-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
        stroke: #292929;
        ;
    }

    .menu-open-btn-icon {
        width: 32px;
        height: 32px;
    }


}

/*============================= max-width: 767px =====================================*/

/*=========================== @media (min-width: 768px) =================================*/

@media only screen and (min-width: 768px) {

    .menu-open-btn {
        display: none;
    }

    .header-container {
        max-width: 1280px;
        padding: 36px 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .page-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .logo {
        font-size: 32px;
        line-height: 32px;
    }

    .nav-menu {
        display: flex;
        gap: 40px;
    }

    .nav-menu-item {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-align: left;
        color: #292929;
    }
}