.modal-container {
  display: flex;
  width: 90vw;
  max-width: 492px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 16px;
  padding: 48px 32px;
  background-color: var(--bg-color);
  position: relative;

  flex-direction: column;
  gap: 16px;
}

.icon-modal-close {
  border: none;
  padding: 0;
  background-color: transparent;

  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
}

.icon-modal-close svg {
  width: 24px;
  height: 24px;
  --color3: var(--text-color);
}

.modal-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}

.modal-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #00b068;
}
.rent-input::placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: rgba(41, 41, 41, 0.4);
}
.rent-input {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #292929;
}
