.title-headline {
    font-weight: 400;
    font-size: 52px;
    line-height: 123%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: black;
    margin-bottom: 40px;
}

.green-text {
    color: #00B068;
}

.title-text {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: black;
    margin-bottom: 32px;
}

.title-contacts {
    font-family: font-family;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: black;

}

.form-message {
    width: 100%;
    margin-top: 12px;
}


.rent-input {
    box-sizing: border-box;
    width: 320px;
    height: 48px;
    border-radius: 8px;
    background-color: transparent;
    outline: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
}

.message-together {
    margin-top: 32px;
    margin-bottom: 32px;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px;
    width: 320px;
    height: 128px;
    border: 1px solid #ccc;
    outline: none;

}

.text-input {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: rgba(41, 41, 41, 0.4);
    border: 1px solid #ccc;
    outline: none;
    background-color: #F0F0F0;
}

.button-together {
    border: 2px solid #00B068;
    border-radius: 8px;
    padding: 12px 24px;
    width: 100%;
    height: 48px;
    color: white;
    background-color: #00B068;

}

.button-together:hover,
.button-together:focus {
    background-color: #289990;
    transform: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-together {
    width: 24px;
    height: 24px;
    color: #00B068;
    vertical-align: middle;
    margin-right: 16px;
}

.icon-and-text {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* media 768px */
@media screen and (min-width: 768px) {
    .work-together {
        padding-left: 32px;
        padding-right: 32px;
        max-width: 768px;
        height: 776px;

    }

    .contacts-together {
        width: 639px;
        height: 120px;
        margin-bottom: 60px;
    }

    .title-headline {
        max-width: 100%;
        height: 248px;
        font-weight: 400;
        font-size: 108px;
        line-height: 115%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: black;

    }

    .title-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: black;

    }

    .title-contacts-tabdes {
        display: flex;
        white-space: nowrap;
        gap: 16px;
    }

    .title-contacts {
        align-self: baseline;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.03em;
        color: black;

    }

    .rent-input {
        width: 704px;
        height: 48px;
    }

    .message-together {
        width: 704px;
        height: 128px;
    }

    .button-together {
        width: 173px;
        height: 48px;
        padding: 12px 24px;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        white-space: nowrap;
    }
}

@media screen and (min-width: 1280px) {
    .work-together {
        height: 616px;
        padding: 32px auto;
    }

    .title-headline {
        width: 100%;
        height: 248px;
        font-weight: 400;
        font-size: 108px;
        line-height: 115%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: black;
    }

    .title-contacts-tabdes {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .title-contacts-message {
        margin-top: 80px;
        width: 1216px;
        height: 288px;
        display: flex;
    }

    .contacts-together {
        width: auto;
        height: 288px;

    }

    .form-message {
        width: 592px;
        height: 288px;
        margin-left: 136px;
    }

    .rent-input {
        width: 592px;
        height: 48px;
    }

    .message-together {
        width: 592px;
        height: 128px;
    }
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 360px;
    height: 756px;
    background: black;
    opacity: 0.8;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 16px;
    padding: 48px 32px;
    width: 320px;
    height: 328px;
    margin: 214px 20px;
    background-color: white;
    box-sizing: border-box;
}

.icon-modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    --color3: #292929;
}

.hidden {
    display: none;
}

.modal-text {
    width: 256px;
    height: 232px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
    color: black;
}

.span-modal {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #00B068;
}